@font-face {
  font-family: 'Hahmlet-Regular';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2110@1.0/Hahmlet-Regular.woff2')
    format('woff2');
}

.form-container {
  display: flex;
  justify-content: space-evenly;
  margin: 10px;
}

input {
  width: 200px;
  padding: 5px;
  border: none;
  border-bottom: 1px solid grey;
  font-family: 'Hahmlet-Regular';
}

.btn-submit {
  width: 80%;
  height: 30px;
  font-family: 'Hahmlet-Regular';
  border: none;
  margin-left: 10%;
  box-shadow: 2px 2px 2px gray;
  background-color: #5c9e9b;
  color: white;
  margin-bottom: 30px;
}

.btn-submit:active {
  box-shadow: none;
  margin-left: 11%;
  margin-top: 3px;
}
